body {
    margin: 0;
    background: #686868;
    display: flex;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
}

a {
    color: #000;
    background-color: #ababab;
    text-decoration: none;
    text-shadow: -1px 1px #ababab;
    border: 1px solid #000;
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: 300;
    padding: 0.5em;
}

a:hover{
    background-color: #6b6b6b;
    color: #999;
    text-shadow: -1px 1px #1c1c1c;
}

a:active{
    background-color: #1c1c1c;
    color: #fff;
    text-shadow: -1px 1px #193047;
}

h1, h2 {
    text-transform: uppercase;
    font-weight: 100;
}

.wrapper h1{
    font-size: 3em;
    font-weight: 300;
}
.wrapper h2 {
    font-size: 2em;
    font-weight: 300;
}

.sidebar {
    width: 20vw;
    height: 100vh;
    background-color: #242424;
    border: 1em solid black;
    box-sizing: border-box;
    border-right: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.sidebar > div {
    margin-top: -6em;
}

.moves, .matches {
    display: flex;
    flex-direction: column;
}

#moves, #matches {
    background: transparent;
    box-sizing: border-box;
    display: block;
    text-align: right;
    background: #686868;
    border: 0;
    border-radius: 0.5em;
    padding: 0.5em 0.5em 0.5em 0;
    font-size: 1.5em;
    width: 80px;
    margin: 0.5em auto;
}

.board {
    border: 1em solid black;
    box-sizing: border-box;
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.row {
    height: 200px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    border: 1px solid #000;
    border-radius: 0.5em;
}
.container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.flip {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.found {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.container, .front, .back, img {
    width: 140px;
    height: 200px;
}

.card {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.back {
    z-index: 2;
}

#game-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 0.6em;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.9);
    display: -webkit-flex;
    display: flex;
    z-index: 11;
    text-align: center;
}

#game-overlay .wrapper{
    margin: auto;
    padding: 0 0.5em;
    border: 3px solid #fff;
    background: red;
}

#game-overlay .wrapper > div {
    margin-bottom: 3em;
}

#game-overlay .wrapper .start {
    margin-bottom: 1.5em;
}